<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- javaType값이 null인 경우, jdbcType도 null로 처리 -->
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<typeAliases>
		<!--  com.kh.spring 하위의 모든 클래스를 소문자로 시작하는 별칭 등록 -->
		<typeAlias type="org.springframework.security.core.authority.SimpleGrantedAuthority" alias="simpleGrantedAuthority"/>
  		<package name="com.my.yeogibusan"/>
  	</typeAliases>
	<typeHandlers>
		<package name="com.my.yeogibusan.common.typehandler"/>
	</typeHandlers>
</configuration>